<article class="timer-input">
    <section class="timer-input-form">
        <div class="form-group">
            <label class="form-control-label">Enter Timer Limit</label>
            <input type="text" class="form-control" #newTimerCount/>
        </div>
        <div class="form-group">
            <label></label>
            <div>
                <button (click)="changeStatus(+newTimerCount.value)" class="btn"> {{ (countDownTimer.status===-1)?'Start/Paused':(countDownTimer.status===1)?'Pause':'Start'}}</button>
                <button (click)="reset()" class="btn">Reset</button>
            </div>
        </div>
    </section>
    
    <section class="timer-event-log">
        <div *ngFor="let eventLog of countDownTimer.eventTrackLogs; let i = index">{{eventLog}}</div>
    </section>
</article>