<div class="row flex-justify-space-between">
    <h1 class="heading">Route 2(Ecommerce)</h1>
    <div class="">
        <app-filter [viewType] = "viewType" (afterSelectViewType)="viewType = $event" (afterSelectPriceDirection)="priceDir = $event"></app-filter>
    </div>
</div>

<section class="product-list">
    <app-product
    [listClass]="viewType==='grid'?'col-3':'col-2'"
    *ngFor="let _product of products$|async| sort:'price':priceDir; let i = index"
    [product] ="_product" [index]="i"
    ></app-product>
</section>

<section class="product-loader" *ngIf="inProgress">
    <div class="loader">
        <img src="../../../assets/icons/loading.gif"  />
        <h3>Please wait....</h3>
    </div>
</section>

<section class="product-loader" *ngIf="inError">
    <div class="loader">
        <h3>Error</h3>
        <p>Something went wrong.</p>
        <p>Error: {{errorMessage}}</p>
    </div>
</section>


