.btn{
    padding: 8px 20px;
    border-radius: 15px;
    border: 1px solid $color-black;
}

.form-control{
    @include control-box();
    color:$color-black;
}
select.form-control{
    padding:10px 20px;
}


.form-control-label{
    @include control-label();
}


.filter-box{
     @include control-box();
    padding:9px;
}

.box{
    @include control-box();
}

.active{
    color:red;
}

select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 5px;
    

  option{
      padding:50px;
  }
}
