img{
    width:100%;
}

.bar{
    position: relative;
    &:after{
        position: absolute;
        content:"";
        top:0;
        bottom:0;
        border:1px solid #000;
        left:50%;
        height: 100%;

    }
}

.pull-left{
    float: left;
}


.d-flex{
    display: flex !important;
}
.flex-justify-center{
    justify-content: center !important;
}
.flex-justify-space-between{
    justify-content: space-between !important;
}