$base-font-size: 16px;
$heading1-font-size: 2rem;
$pargraph1-font-size: 1rem;


$color-red: #ef4650;
$color-black:#010101;
$color-black-light:#dee2e6;


$background-color-red-light:rgba(239,70,80,0.5);
$background-color-red-light2:rgba(239,70,80,0.2);


$layout-padding-lr:5vw;
$layout-padding-tb:0;

$heading-padding:(
    "1":20px 0px,
    "2":4px,
    "3":3px,
    "4":2px,
    "5":1px
)


