<h1 class="Heading">Ecommerce</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <app-filter (afterSelectViewType)="viewType = $event" (afterSelectPriceDirection)="priceDir = $event"></app-filter>
            </div>
        </div>
    </div>

    <div class="row product-list">
        <app-product
        [listClass]="viewType==='grid'?'col-3':'col-2'"
        *ngFor="let _product of products| sort:'price':priceDir; let i = index"
        [product] ="_product"
        ></app-product>
    </div>

    

    <!-- <ng-container *ngFor="let _product of products| productListFilter:priceDir; let i = index">
        <div class="product-list" *ngIf="((i==0) || i%4==0) else singleProductTemplate" >
            <div>{{_product.name}}</div>
            
        </div>
      
    </ng-container>

    <ng-template #singleProductTemplate>
        <div>ELE BLOCK</div>
    </ng-template> -->
   



   
</div>