@import '../../../assets/scss/variables';
header{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding:20px 0px;
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo {
        padding: 0px 20px;
        text-align: center;
    }

    .navbar{
        ul{
            list-style: none;
            li{
                display: inline-block;
                position: relative;
                transition: .5s ease-in;
                margin-right:2px;
                a{
                    color:#000;
                    font-size: 16px;
                    text-decoration: none;
                    display: block;
                    padding:10px 15px;
                
                }

                &.active{
                    background:$background-color-red-light;
                }

                &:hover{
                    background:$background-color-red-light;
                    
                }
            }
        }
        
        .navbar-nav{
            margin:0;
        }
    
        .btn-close{
            display: none;
            font-size: 20px;
        }
    }

    .menu-bar-responsive{
        display: none;
        font-size: 1.8rem;
        position: absolute;
        top: 16px;
        right:20px;
    }
}

@media only screen and (max-width:768px) {
    header{
        .row{
            //flex-direction: row-reverse;
            display: block;
        }
        .menu-bar-responsive{
             display: block;
        }

        .main-menu{
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            right:-300px;
            background: #fff;
            transition: right 0.7s cubic-bezier(0.32, 0.01, 0, 1);
            box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 5%);
            z-index: 1;
        
            .navbar{
                margin  :40px 0px;
                min-width: 250px;

                .navbar-nav{
                    li{
                        display: block;
                        a{
                            padding:15px;
                        }
                    }
                }
                .btn-close{
                   display: inline-block;
                   position: absolute;
                   left: 0;
                   top: 0;
                   padding: 10px;
                }
            }
        }
        .main-menu.responsive{
              right:0px;
        }
    }
}