<header>
    <div class="container row">
      <section class="menu-bar-responsive">
        <a (click)="isMobileNavOpen= true"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </section>
      <section class="logo">
          <a routerLink="/">
            <img src="https://www.publicissapient.com/content/dam/ps-rebrand/brand/ps-logo-NEW.svg" style="width:100px;height: auto;" />
      
          </a>
      </section>
      <section class="main-menu" [class.responsive]="isMobileNavOpen">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li ><a routerLink="/banner">Route 1</a></li>
            <li><a routerLink="/ecommerce/productlist">Route 2</a></li> 
            <li><a routerLink="/count-down">Route 3</a></li>
            <li><a routerLink="/count-down/count-down-timer2">Route 4</a></li>
            <li><a routerLink="/route-5">Route 5</a></li>
            <li><a routerLink="/dynamic-div">Route 6</a></li>
          </ul>

          <a class="btn-close" (click)="isMobileNavOpen = false"><i class="fa fa-times" aria-hidden="true"></i></a>
        </nav>
      </section>
      
    </div>
  </header>
  