<header>
    <div class="container row">
      <section class="logo">
          <a routerLink="/" tabindex="1">
            <img src="https://www.publicissapient.com/content/dam/ps-rebrand/brand/ps-logo-NEW.svg" style="width:100px;height: auto;" alt="Publicis Sapient Assessment" />
      
          </a>
      </section>
      <section class="menu-bar-responsive">
        <a (click)="toggleMenu($event,true)"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </section>
      
      <section class="main-menu" [class.responsive]="isMobileNavOpen">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" ><a routerLink="/banner" tabindex="2">Route 1</a></li>
            <li routerLinkActive="active"><a routerLink="/ecommerce/productlist" tabindex="3">Route 2</a></li> 
            <li routerLinkActive="active"><a routerLink="/count-down/count-down-timer1" tabindex="3">Route 3</a></li>
            <li routerLinkActive="active"><a routerLink="/count-down/count-down-timer2" tabindex="4">Route 4</a></li>
            <li routerLinkActive="active"><a routerLink="/route-5" tabindex="5">Route 5</a></li>
            <li routerLinkActive="active"><a routerLink="/dynamic-div" tabindex="6">Route 6</a></li>
          </ul>

          <a class="btn-close" (click)="isMobileNavOpen = false"><i class="fa fa-times" aria-hidden="true"></i></a>
        </nav>
      </section>
      
    </div>
  </header>
  