header{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    padding:20px 0px;
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo {
        padding: 0px 20px;
        text-align: center;
    }


    .navbar{
        ul{
            list-style: none;
            li{
                display: inline-block;
                padding:0px 15px;
                position: relative;
                a{
                    color:#000;
                    font-size: 16px;
                    text-decoration: none;
                }

                // &.active{
                //     color:red;

                   
                    
                // }

                // &::before{
                //     position: absolute;
                //         bottom:0;
                //         border-bottom: 1px solid #000;

                // }
            }
        }
        
        .navbar-nav{
            margin:0;
        }
    
        .btn-close{
            display: none;
            font-size: 20px;

        }
    }

    
    .menu-bar-responsive{
        display: none;
        font-size: 20px;
        float: left;
        position: absolute;
        top: 16px;
    }

}

@media only screen and (max-width:768px) {
    header{
        .row{
            //flex-direction: row-reverse;
            display: block;
        }
        .menu-bar-responsive{
             display: block;
             
         }

         .main-menu{
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left:-300px;
            background: rgb(218, 191, 191);
            transition: left 0.7s cubic-bezier(0.32, 0.01, 0, 1);
            // transition: width 2s linear 1s;
            // width:0px;

            .navbar{
                padding:40px 0px;
                min-width: 250px;

                .navbar-nav{
                    li{
                        display: block;
                        padding:15px;
                    }
                }
                .btn-close{
                   display: inline-block;
                   position: absolute;
                   right: 0;
                   top: 0;
                   padding: 10px;
                }
            }
             
            

         }
         .main-menu.responsive{
              left:0px;
            

             
            
             
         }
 
 
    }
    
     
 }