.timer-wrapper{
    border:2px solid #000;
    // margin:40px;
    display:inline-block;
    
    .row{
        display:flex;
        flex-wrap: wrap;
        padding: 5px;
        // justify-content: space-between;

       

    }
     section{
            margin-right:5px;
            &.bordered{
                border: 2px solid #000;
                margin-bottom:5px;
            }
        }
}
