.boxes{
    div{
        border:1px solid #000;
        padding:10px;
        margin:10px;
        min-height: 5vh;
        overflow: hidden;
        &.child-node{
            display: flex;
            flex-wrap: nowrap;

            h2{
                animation: 10s linear 0s infinite normal move;
                position: relative;
                padding:10px 0px;
                white-space: nowrap;
            }
            &:hover{
                h2{
                    animation-play-state: paused;

                }
                
            }
        }
    }
}

@keyframes move {
    from{
        left:100%;
    }
    to{
        left:-100%;
    }
}
  