<h1 class="heading">Route 1(Banner)</h1>

<article class="boxes">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="child-node">
                                    <h2>A floating banner text which keeps on rotating.</h2>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>