.timer-display{
    display:flex;
    min-width: 400px;
    min-height: 300px;
    justify-content: center;
    align-items: center;

    .heading{
        font-size: 16px;
        padding:0;
        margin:0;
    }

    .timer-counter{
        font-size: 40px;
        text-align: center;
        padding: 4px;
        margin: 0;
        font-weight: bold;
    }
}

@media only screen and (max-width:768px) {
    .timer-display{
        min-width: 85vw;
        padding:70px;
    }
    
}
