<h1 class="heading">Route 4(Timer using Subjects) </h1>
<article class="timer-wrapper">
    <div class="row">
        <section class="bordered">
            <app-count-down-timer-display-subject></app-count-down-timer-display-subject>
        </section>
        <section class="bordered">
            <app-count-down-timer-input-subject></app-count-down-timer-input-subject>
        </section>
    </div>
    <div class="row">
        <section class="count-down-timer">
            <app-count-down-timer-log-subject></app-count-down-timer-log-subject>
        </section>
        <section class="count-down-timer">
            <app-count-down-timer-counter-subject></app-count-down-timer-counter-subject>
        </section>
    </div>
</article>